html {
  font-family: arial, helvetica, sans-serif;
  font-display: swap;
  background: #ffffff;
  color: #666666;
  width: 100%;
  height: 100%;
}

body {
  font-family: arial, helvetica, sans-serif;
  font-display: swap;
  background: #ffffff;
  color: #666666;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  max-height: auto;
}

iframe {
  width: 100%;
}

h1 {
  width: 100%;
}

h2 {
  width: 100%;
}

h3 {
  width: 100%;
}

h4 {
  width: 100%;
}

h5 {
  width: 100%;
}

h6 {
  width: 100%;
}

/* INPUTS AND TEXTAREA */
label {
  display: inline-block;
  margin-right: 10px;
  min-width: 170px;
}

textarea {
  width: 100%;
  min-height: 100px;
}

/* LINKS */
/* homepage link */
/* site navigation link */
.sitelink {
  margin: 5px;
}

/* site navigation */
.my_navigation {
  width: 100%;
}

/* page navigation */
#v_pagination {
  display: block;
  text-align: left;
  height: 38px;
  line-height: 21px;
  clear: both;
  padding-top: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
}
#v_pagination a:link {
  padding: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #EBEBEB;
  margin-left: 7px;
  text-decoration: none;
  background-color: #F5F5F5;
  color: #0072bc;
  width: 22px;
  font-weight: normal;
  font-size: 18px;
}
#v_pagination a:visited {
  padding: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #EBEBEB;
  margin-left: 7px;
  text-decoration: none;
  background-color: #F5F5F5;
  color: #0072bc;
  width: 22px;
  font-weight: normal;
  font-size: 18px;
}
#v_pagination .active_tnt_link {
  padding: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #BBDDFF;
  margin-left: 7px;
  text-decoration: none;
  background-color: #DDEEFF;
  color: #0072BC;
  cursor: default;
}
#v_pagination .next_v_pagination {
  padding: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #EBEBEB;
  margin-left: 7px;
  text-decoration: none;
  background-color: #F5F5F5;
  color: #D7D7D7;
  cursor: default;
}
#v_pagination .prev_v_pagination {
  padding: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #EBEBEB;
  margin-left: 7px;
  text-decoration: none;
  background-color: #F5F5F5;
  color: #D7D7D7;
  cursor: default;
}

/* BLOG */
.blog-title {
  padding-bottom: 20px;
  border-bottom: 2px solid #cfcfcf;
  margin-bottom: 60px;
}
.blog-title a {
  color: #636262;
}

.blog-author {
  margin: 40px;
}

.blog-content {
  text-align: justify;
}

.blog-index {
  padding: 25px;
  box-shadow: 0px 0px 6px #ccc;
  margin-bottom: 55px;
}
.blog-index p {
  max-width: 850px;
  text-align: justify;
}

.blog-page {
  box-shadow: 0px 0px 6px #ccc;
  margin-bottom: 80px;
}
.blog-page p {
  max-width: 850px;
  text-align: justify;
}
.blog-page .blogimg-f-left {
  float: left;
  padding: 10px 15px;
}

.index-blog-post {
  background-color: rgba(241, 241, 243, 0.3);
  margin-top: 40px;
  padding: 20px 40px 20px 40px;
  border-bottom: 2px solid #3e85f7;
}
.index-blog-post h1 {
  font-family: "Montserrat", sans-serif;
}
.index-blog-post h2 {
  font-family: "Montserrat", sans-serif;
}
.index-blog-post h3 {
  font-family: "Montserrat", sans-serif;
}
.index-blog-post .row {
  margin: 0px;
  padding: 20px 0px;
}
.index-blog-post .readmore {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.blog-page {
  background-color: rgba(241, 241, 243, 0.3);
  margin-top: 40px;
  padding: 20px 40px 20px 40px;
}

.index-blog-topic {
  padding-bottom: 20px;
  border: 2px solid #ccc;
}

.blog-posts {
  display: block;
  margin-bottom: 80px;
}
.blog-posts h1 {
  padding-bottom: 20px;
}
.blog-posts h2 {
  padding-bottom: 20px;
}
.blog-posts h3 {
  padding-bottom: 20px;
}
.blog-posts h4 {
  padding-bottom: 20px;
}
.blog-posts h5 {
  padding-bottom: 20px;
}
.blog-posts h6 {
  padding-bottom: 20px;
}

.blog-navigation {
  padding: 20px;
}

.blog-date {
  background-color: #12A91A;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0px -80px 0px 0px;
  padding-top: 15px;
  border: 2px solid #028400;
  width: 80px;
  height: 80px;
  float: right;
  text-align: center;
  box-shadow: 0px 0px 6px #ccc;
}

.blog-category {
  display: block;
  padding: 40px 20px 20px 40px;
}
.blog-category .category_text {
  font-size: 1.4em;
  text-align: center;
  vertical-align: middle;
}

/* blog comments */
#comment_area {
  margin: 60px 0px;
}

#comments {
  margin: 60px 0px;
}

/* OTHER ELEMENTS AND OPTIONS */
.clear {
  clear: both;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.display-none {
  display: none;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  h1 {
    text-align: left;
  }

  h2 {
    text-align: left;
  }

  h3 {
    text-align: left;
  }

  h4 {
    text-align: left;
  }

  h5 {
    text-align: left;
  }

  h6 {
    text-align: left;
  }

  .container {
    padding: 0px 0px 0px 0px;
  }

  .blog-content {
    text-align: left;
  }

  .index-blog-post {
    padding: 20px 20px 20px 20px;
  }

  .blog-page {
    padding: 20px 20px 20px 20px;
  }

  .blog-index h1 {
    font-size: 1.3em;
  }
  .blog-index h2 {
    font-size: 1.3em;
  }
  .blog-index h3 {
    font-size: 1.3em;
  }
  .blog-index h4 {
    font-size: 1.3em;
  }
  .blog-index h5 {
    font-size: 1.3em;
  }
  .blog-index h6 {
    font-size: 1.3em;
  }

  .blog-date {
    display: block;
    margin: 10px -30px 30px 0px;
  }

  .blog-title h1, h2, h3, h4, h5, h6 {
    font-size: 1.8em;
  }

  .blog-navigation {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}

/*# sourceMappingURL=framework.css.map */
