@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

textarea {
	width:90%;
}

table { 
	margin:1px 0px 1px 0px; 
	padding:1px 1px 1px 1px; 
	font-size:13px;
}

nav {
	background: #fff;
	margin-bottom: 40px;
}

form {
	margin: 40px 0px;
}

.top-navigation {
	box-shadow: 0px 0px 2px 0px gray;
}

/* homepage link */
.homepage {
	margin: 5px;
}

/* site navigation link */
.sitelink { }

.page_navigation {
	margin: 50px 0px 50px 0px;
}

/* start of vavok customizable elements */
.a {
	border-bottom:1px solid #ccc; color:#666; background:#E9E9E9;padding:10px;
}
.b {
	color:#666; background-color:#E5E5E5; padding:3px; color:#666;padding:10px;
}
.c {
	border-top:1px solid #ccc; color:#666; background:#E9E9E9;padding:10px;
}
.left {
	float:left; margin-right:10px;
}
.right {
	float:right; margin-left:10px;
}
.center {
	display:block; text-align:center; margin:20px auto;
}
.break {
	width:100%; height:1px; clear:both;
}

/* content */
#wrapper { }

.my_navigation {
  width: 100%;
}

.nav-contact {
	display: flex;
}

.index_container {
	display: flex;
	justify-content: center;
 }

 .container {
	display: inline-block;
 }

/* BLOG */

.blog-page {
	p {
		font-size: 16px;
	}
}

.footer {
	padding: 25px;
	width: 100%;
  box-shadow: 0px 0px 2px 0px gray;
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {

.container {
	display: block;
}
  
.services_element {
	display: block;
	margin: 40px 0px;

	a {
		display: flex;
		justify-content: center;
	}
}

nav {
	margin-bottom: 10px;
}

}