body {
	color: #939090;
}
a:link, a:visited, a:hover, a:active {
	color: #608891;
}
select {
	display: block;
	margin-bottom: 10px;	
}
#wrapper {
	width: 720px;
	margin: 0 auto;
	color: #C0C0C0;	
}
header {
	padding: 20px 60px;
	font-size: 2em;
}
#content {
	color: #000;
}
footer {
padding: 40px;
text-align: center;
}
